/* =========================
    Reset
========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    "Noto Sans JP", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

/* =========================
    Common
========================= */

.container {
  padding-inline: 30px;
  @media (min-width: 900px) {
    max-width: 1020px;
    margin: 0 auto;
  }
}

/* =========================
    Header
========================= */

.header {
  padding-block: 1.5rem;
  .header__inner {
    @media (min-width: 900px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  .header__logo {
    width: 268px;
    height: auto;
    margin: 0 auto;
  }
  .breadcrumb {
    font-size: 11px;
    margin-top: 1.5rem;
    ol {
      display: flex;
      flex-wrap: wrap;
      li:not(:last-child)::after {
        content: ">";
        margin: 0 4px;
      }
      a {
        color: #1558d6;
      }
    }
  }
  .header__title {
    display: none;
    @media (min-width: 900px) {
      display: inline-block;
      color: #fff;
      background-color: #1ddb07;
      padding: 10px 80px;
      border-radius: 1rem;
      border: double 4px #fff;
    }
  }
}
