/* =========================
    Reset
========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

/* =========================
    Common
========================= */
.container {
  padding-inline: 30px;
}
@media (min-width: 900px) {
  .container {
    max-width: 1020px;
    margin: 0 auto;
  }
}

/* =========================
    Header
========================= */
.header {
  padding: 1.5rem 2rem 1rem;
}

.header__logo {
  width: 268px;
  height: auto;
  margin: 0 auto;
}