/* =========================
    Reset
========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #333;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

a:hover {
  opacity: 0.5;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

/* =========================
    Common
========================= */
.container {
  padding-inline: 30px;
}
@media (min-width: 900px) {
  .container {
    max-width: 1020px;
    margin: 0 auto;
  }
}

/* =========================
    Header
========================= */
.header {
  padding-block: 1.5rem;
}
@media (min-width: 900px) {
  .header .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.header .header__logo {
  width: 268px;
  height: auto;
  margin: 0 auto;
}
.header .breadcrumb {
  font-size: 11px;
  margin-top: 1.5rem;
}
.header .breadcrumb .breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
}
.header .breadcrumb .breadcrumb__list li:not(:last-child)::after {
  content: ">";
  margin: 0 4px;
}
.header .breadcrumb .breadcrumb__list .breadcrumb__list-link {
  color: #1558d6;
}
.header .header__title {
  display: none;
}
@media (min-width: 900px) {
  .header .header__title {
    display: inline-block;
    color: #fff;
    background-color: #1ddb07;
    padding: 10px 80px;
    border-radius: 1rem;
    border: double 4px #fff;
  }
}

/* =========================
    Footer
========================= */
.footer {
  background: #f5f5f5;
  padding-block: 2rem;
}
@media (min-width: 900px) {
  .footer .footer__inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer .footer__links {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  grid-template-rows: repeat(2, 40px);
  gap: 1rem;
  justify-content: center;
}
.footer .footer__links .footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d6d5d5;
  font-size: 13px;
}
.footer .footer__info {
  margin-top: 1.5rem;
}
.footer .footer__info .footer__company {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 1rem;
}
.footer .footer__info .footer__detail {
  font-size: 12px;
  line-height: 2;
}
.footer .footer__copyright {
  margin-top: 2rem;
}
@media (min-width: 900px) {
  .footer .footer__copyright {
    margin-top: 3rem;
    text-align: center;
  }
}

/* =========================
    Top-Main
========================= */
.top-main .hero-image--sp {
  width: 100%;
}
@media (min-width: 900px) {
  .top-main .hero-image--sp {
    display: none;
  }
}
.top-main .hero-image--pc {
  display: none;
}
@media (min-width: 900px) {
  .top-main .hero-image--pc {
    display: block;
    width: 100%;
  }
}
.top-main .content {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.top-main .content .content__desc {
  margin-bottom: 5rem;
}
.top-main .content .content__desc .content__title {
  font-size: 24px;
  margin-bottom: 2rem;
}
.top-main .content .content__desc .content__text {
  font-size: 13px;
}
.top-main .content .btn-wrapper {
  text-align: center;
}
.top-main .content .btn-wrapper .list-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #1ddb07;
  color: #fff;
  padding: 0.8rem 2rem 0.8rem 3rem;
  border-radius: 0.8rem;
  gap: 1rem;
}
.top-main .content .btn-wrapper .list-btn .list-button__text {
  font-size: 13px;
  font-weight: 700;
}
.top-main .content .banners {
  display: none;
}
@media (min-width: 900px) {
  .top-main .content .banners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 8rem;
  }
}
.top-main .content .banners .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 219px;
  height: 72px;
  background-image: url(../images/banner-img.jpg);
}

/* ---------- Staff list ---------- */
.staff-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-bottom: 4rem;
}
@media (min-width: 900px) {
  .staff-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.staff-list .staff-card .staff-card__image {
  margin: 0 auto;
  width: 200px;
  border-radius: 50%;
  border: 10px solid #f1f1f1;
}
.staff-list .staff-card .staff-card__content {
  position: relative;
  width: 80%;
  margin: 2rem auto 0;
}
.staff-list .staff-card .staff-card__content .card__budge {
  position: absolute;
  width: 24px;
  height: auto;
  top: -22px;
  left: -22px;
}
.staff-list .staff-card .staff-card__content .card__title {
  font-size: 16px;
}
.staff-list .staff-card .staff-card__content .card__time {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 11px;
}
.staff-list .staff-card .staff-card__content .card__text {
  font-size: 13px;
}
.staff-list .staff-card .staff-card__content .card__link {
  display: flex;
  font-size: 13px;
  gap: 0.5rem;
  margin-top: 1rem;
}